<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xlk.paperless.standard">
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
     显示顶层浮窗 需要在清单文件中注册的原因是：要让设备识别是否需要该权限，
    如果不在清单文件中注册，那么在跳转到开启悬浮窗权限时，应用列表中就找不到当前应用
    -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 帧缓存权限 -->
    <uses-permission
        android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" /> <!-- 正常权限（Normal Permissions） -->
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许读取wifi网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 唤醒和锁屏权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 修改音频参数权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 访问系统开机事件的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 请求安装包权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 危险权限（Dangerous Permissions） -->
    <!-- 文件的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读取手机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- android:windowSoftInputMode="stateHidden|adjustResize" -->
        <!-- 添加下面这行让Activity旋转屏幕时不会走生命周期方法 -->
        <!-- android:configChanges="orientation|screenSize|keyboardHidden" -->
        <activity
            android:name=".view.meet.MeetingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.admin.AdminActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.pdf.PdfViewerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.draw.DrawActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".view.video.VideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.notice.BulletinActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.score.ScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.chatonline.ChatVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.CameraActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- autosize屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="960" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

        <service android:name=".service.BackstageService" />
        <service android:name=".service.FabService" />
    </application>

</manifest>